In [3]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('insurance_data.csv')

In [5]:
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df[['age','affordibility']], df.bought_insurance, test_size=0.2, random_state = 25)

In [7]:
X_train

    age  affordibility
0    22              1
13   29              0
6    55              0
17   58              1
24   50              1
19   18              1
25   54              1
16   25              0
20   21              1
3    52              0
7    60              0
1    25              0
5    56              1
27   46              1
8    62              1
18   19              0
12   27              0
23   45              1
22   40              1
15   55              1
26   23              1
4    46              1

In [8]:
len(X_train)

22

In [9]:
X_train_scaled = X_train.copy()
X_train_scaled = X_train_scaled['age'] / 100

X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age'] / 100

In [10]:
X_train_scaled

0     0.22
13    0.29
6     0.55
17    0.58
24    0.50
19    0.18
25    0.54
16    0.25
20    0.21
3     0.52
7     0.60
1     0.25
5     0.56
27    0.46
8     0.62
18    0.19
12    0.27
23    0.45
22    0.40
15    0.55
26    0.23
4     0.46
Name: age, dtype: float64

In [11]:
X_train_scaled.dtypes

dtype('float64')

In [12]:
X_train_scaled

0     0.22
13    0.29
6     0.55
17    0.58
24    0.50
19    0.18
25    0.54
16    0.25
20    0.21
3     0.52
7     0.60
1     0.25
5     0.56
27    0.46
8     0.62
18    0.19
12    0.27
23    0.45
22    0.40
15    0.55
26    0.23
4     0.46
Name: age, dtype: float64

In [18]:
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(1,), activation='sigmoid', 
                      kernel_initializer='ones', bias_initializer='zeros')
])
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train_scaled, y_train, epochs=5000)

Epoch 1/5000

ValueError: Exception encountered when calling Sequential.call().

Input 0 of layer "dense_5" is incompatible with the layer: expected axis -1 of input shape to have value 2, but received input with shape (None, 1)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(None, 1), dtype=float32)
  • training=True
  • mask=None