In [2]:
pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.11-py3-none-any.whl (63 kB)
     -------------------------------------- 63.4/63.4 kB 483.5 kB/s eta 0:00:00
Requirement already satisfied: packaging in c:\new folder\anaconda3\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: requests in c:\new folder\anaconda3\lib\site-packages (from kagglehub) (2.28.1)
Requirement already satisfied: tqdm in c:\new folder\anaconda3\lib\site-packages (from kagglehub) (4.64.1)
Requirement already satisfied: pyyaml in c:\new folder\anaconda3\lib\site-packages (from kagglehub) (6.0)
Requirement already satisfied: idna<4,>=2.5 in c:\new folder\anaconda3\lib\site-packages (from requests->kagglehub) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\new folder\anaconda3\lib\site-packages (from requests->kagglehub) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\new folder\anaconda3\lib\site-packages (from requests->kagglehub) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\new folder\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: colorama in c:\new folder\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.5)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.11
Note: you may need to restart the kernel to use updated packages.

In [3]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("gargmanas/pima-indians-diabetes")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/gargmanas/pima-indians-diabetes?dataset_version_number=1...

100%|██████████| 8.79k/8.79k [00:00<00:00, 855kB/s]

Extracting files...
Path to dataset files: C:\Users\User\.cache\kagglehub\datasets\gargmanas\pima-indians-diabetes\versions\1

In [9]:
import pandas as pd
df = pd.read_csv('diabetes.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [10]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [11]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
df.Outcome.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [15]:
X = df.drop("Outcome", axis="columns")
y = df.Outcome
X[:3]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
X_scaled[:3]

array([[ 0.63994726,  0.84832379,  0.14964075,  0.90726993, -0.69289057,
         0.20401277,  0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575,  0.53090156, -0.69289057,
        -0.68442195, -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, -1.28821221, -0.69289057,
        -1.10325546,  0.60439732, -0.10558415]])

In [16]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=10)

In [21]:
X_train.shape

(576, 8)

In [22]:
X_test.shape

(192, 8)

In [23]:
y_train.value_counts()

0    375
1    201
Name: Outcome, dtype: int64

In [24]:
y_test.value_counts()

0    125
1     67
Name: Outcome, dtype: int64

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

scores = cross_val_score(DecisionTreeClassifier(), X, y, cv = 5)
scores

array([0.68181818, 0.64935065, 0.70779221, 0.78431373, 0.73856209])

In [27]:
scores.mean()

0.7123673711909005

In [29]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

bag_model.fit(X_train, y_train)
bag_model.oob_score_

0.7534722222222222

In [30]:
bag_model.score(X_test, y_test)

0.7760416666666666

In [31]:
bag_model = BaggingClassifier(
    base_estimator=DecisionTreeClassifier(),
    n_estimators=100,
    max_samples=0.8,
    oob_score=True,
    random_state=0
)

scores = cross_val_score(bag_model, X, y, cv = 5)
scores

array([0.75324675, 0.72727273, 0.74675325, 0.82352941, 0.73856209])

In [32]:
scores.mean()

0.7578728461081402

In [33]:
from sklearn.ensemble import RandomForestClassifier

scores = cross_val_score(RandomForestClassifier(n_estimators=50), X, y, cv=5)
scores.mean()

0.7605296664120194